title: "Tong Si"
email: "tong.si@slu.edu"
description: "Assistant Professor in HCOR"
baseurl: ""
url: "https://tongsi98.github.io"
theme: minima
collections:
  pages:
    output: true
defaults:
  - scope:
      path: ""
      type: pages
    values:
      layout: page
